<section>
    <nav class="navbar navbar-expand-lg bg-body-dark">
        <div class="container-fluid" style="height: 50px;">
            <a class="navbar-brand" href="/admin/home">CraftX</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" role="search">
                </form>
            </div>
        </div>
    </nav>
</section>
<hr>




<section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="width: 250px;">
                <div class="list-group">
                    <li class="list-group-item"><a href="/admin/products"> <i
                                class="fa-solid fa-box-open side-bar-icon"></i>Products</a></li>
                    <li class="list-group-item"><a href=""><i class="fa-regular fa-user side-bar-icon"></i>Customers</a>
                    </li>
                    <li class="list-group-item"><a href=""><i
                                class="fa-solid fa-cart-shopping side-bar-icon"></i>Orders</a></li>
                    <li class="list-group-item"><a href="category"><i
                                class="fa-solid fa-table-cells-large fa-custom-icon side-bar-icon"></i>Category</a></li>
                    <li class="list-group-item"><a href=""> <i class="fa-solid fa-arrow-up-from-bracket side-bar-icon"
                                style="transform: rotate(90deg);"></i>Sales Report</a></li>
                    <li class="list-group-item"><a href=""><i
                                class="fa-solid fa-money-bill-wave side-bar-icon"></i>Manage
                            Coupon</a></li>
                    <li class="list-group-item"><a href=""><i class="fa-solid fa-font-awesome side-bar-icon"></i>Banner
                            Manage</a></li>
                </div>

                <div class="btn-container d-flex justify-content-center align-items-inline mt-5">
                    <a href="logout" class="btn border-primary-subtle">Log Out</a>
                    <a href="/admin/home" class="btn border-primary-subtle" style="margin-left: 40px;">Back</a>
                </div>
            </div>



            <div class="col-md-8" style="width: 700px;margin-left: 100px;">
                <section class="category d-flex">
                    <div class="object-fit-contain" style="width: 100%;">
                        <div class="header d-flex justify-content-between">
                            <h3 class="h3 text-second fw-bold mb-3">Orders Managment</h3>
                        </div>
                        <hr>

                        {{#each order}}

                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Customer Name</label>
                                <input type="text" disabled class="form-control" value="{{this.address.userName}}"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" name="userName">

                            </div>

                            {{!-- //Order id --}}
                            <div>
                                <input type="text" hidden name="orderID" value="{{this._id}}">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label"><strong>Product</strong></label>
                                {{#each ../product.primaryImage}}
                                <div class="mb-3">
                                    <img src="/uploads/{{this}}" alt="productImage" style="width: 100px; height: 100px">
                                </div>

                                {{/each}}

                                <input type="text" name="productName" disabled value="{{../product.name}}"
                                    class="form-control" id="exampleInputPassword1">
                            </div>

                            {{#each this.orderItems}}
                            <div class="d-flex mb-3">
                                <span style="margin-right: 5px;">Price</span>
                                <input type="button" value="{{this.unitPrice}}" style="width: 100px;">
                            </div>

                            {{!-- //ProductID here --}}
                            <div>
                                <input type="text" name="productID" hidden value="{{this.productID}}">
                            </div>

                            <div class="d-flex mt-3">
                                <span style="margin-right: 5px;">Quantity:</span>
                                <input type="button" value="{{this.quantity}}" style="width: 100px;">
                            </div>

                            <div class="mt-3">
                                Date:
                                <input type="text" disabled value="{{../this.orderDate}}" name="" id="">

                            </div>


                            {{/each}}
                            <div class="form-floating mt-3">
                                <textarea class="form-control" disabled placeholder="Leave a comment here"
                                    id="floatingTextarea"></textarea>
                                <label for="floatingTextarea">{{this.address.address}}</label>
                            </div>

                            <div class="mt-3">
                                Phone:
                                <input type="text" disabled value="{{this.address.phoneNumber}}" name="" id="">
                            </div>

                            {{#each this.orderItems}}
                            <div class="d-flex mt-3">
                                <span style="margin-right: 5px;">Current Status</span>
                                <input type="button" value="{{this.orderStatus}}" style="width: 100px;">
                            </div>

                            {{!-- //Product item id --}}
                            <input type="text" name="" id="productID" hidden value="{{this.productID}}">
                            {{/each}}


                            <!-- HTML -->
                            <div class="rounded">
                                <select id="statusDropdown" class="mt-3" style="width: 300px; height: 30px">
                                    <option value="">Change Status</option>
                                    <option value="processing">Processing</option>
                                    <option value="shipped">Shipped</option>
                                    <option value="out for delivery">Out for Delivery</option>
                                    <option value="delivered">Delivered</option>
                                </select>
                            </div>
                            <button id="statusBtn" type="button" class="btn btn-primary mt-4"
                                style="width: 100%; margin-bottom: 500px;">Update</button>


                            {{!-- //order id here --}}
                            <input type="hidden" id="orderID" value="{{this._id}}">


                        </form>
                        {{/each}}
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#statusBtn').on('click', async function () {
            console.log("Clicked");

            const orderID = $('#orderID').val();
            const productID = $('#productID').val();
            const selectedValue = $('#statusDropdown').val();

            console.log('Selected Value:', selectedValue);
            console.log("Selected order id: ", orderID)
            console.log("Selected product id: ", productID)

            try {
                const response = await fetch('/admin/orders/editOrder', {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ orderID, productID, newStatus: selectedValue })
                });

                if (response.ok) {
                    console.log("Success");
                    location.assign('/admin/orders')
                } else {
                    console.error("Error:", response.statusText);
                }
            } catch (error) {
                console.error("Fetch error:", error);
            }
        });
    });
</script>



<style>
    a {
        text-decoration: none;
    }

    i {
        margin-right: 20px;
    }

    .btn2 {
        border: 1px solid black;
        color: white;
        border-radius: 5px;
        padding: 7px;
    }

    .backBtn {
        margin-left: 20px;
        color: black;
    }

    .logout_btn {
        margin-top: 50px;
        margin-left: 10px;
        border: 1px solid black;
        background-color: rgb(231, 126, 126);
    }
</style>