
{{>admin-navbar}}


<section>

    <div class="container-fluid">
        <div class="row">


          {{>admin-left-menue}}

            <div class="col-md-8 " style="width: 1000px;">

                <section class="category d-flex mt-2">
                    <div class="object-fit-contain mt-3" style="width: 100%;">
                        <div class="header d-flex justify-content-between">
                            <h3 class="h3 text-second fw-bold mb-3">Customers</h3>
                        </div>
                        <table style="width: 100%;" id="customerTable"
                            class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">Customer Name
                                    </th>
                                    <th class="th-sm">Email ID
                                    </th>
                                    <th class="th-sm">Phone
                                    </th>
                                    <th class="th-sm">Status
                                    </th>
                                    <th class="th-sm">Created At
                                    </th>
                                    <th class="th-sm">Block/Unblock
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                {{#each allCustomers}}
                                {{#unless this.delete}}
                                <tr>
                                    <td>{{this.fullname}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.phonenumber}}</td>
                                    {{#if this.status}}
                                    <td style="color: green;">Active</td>
                                    {{else}}
                                    <td style="color: rgb(227, 51, 51);">Blocked</td>
                                    {{/if}}
                                    <td>{{this.createdAt}}</td>
                                    <td>

                                        {{#if this.status}}
                                        <a href="/admin/customers/block/{{this._id}}" class="ms-3 btn"
                                            style="background-color: rgb(231, 59, 59);">Block</a>
                                        {{else}}
                                        <a href="/admin/customers/unblock/{{this._id}}" class="ms-3 btn"
                                            style="background-color: green;">Unblock</a>
                                        {{/if}}

                                        {{!-- <a href="/admin/customers/editcategory/{{this._id}}" class="ms-3 btn"
                                            style="background-color: green;">Unblock</a> --}}

                                        {{!-- <a
                                            onclick="return confirm('Are you sure you want to delete {{this.name}}?')"
                                            href="/admin/categories/deletecategory/{{this._id}}"
                                            class="text-danger ms-2"><i class="fa-solid fa-trash"></i></a> --}}
                                    </td>
                                </tr>

                                {{/unless}}
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
</section>



<script>
    //search jquery
    $(document).ready(function () {
        new DataTable('#customerTable');
    })
</script>
<style>
    a {
        text-decoration: none;
    }

    i {
        margin-right: 20px;
    }

    .btn2 {
        border: 1px solid black;
        color: white;
        border-radius: 5px;
        padding: 7px;
    }

    .backBtn {
        margin-left: 20px;
        color: black;
    }

    .logout_btn {
        margin-top: 50px;
        margin-left: 10px;
        border: 1px solid black;
        background-color: rgb(231, 126, 126);
    }
</style>