{{>admin-navbar}}
<section>
    <form class="d-flex mb-2 mt-3" role="search">
        <a href="products/newproduct" class="btn btn-primary" target="_blank"
            style="width: 220px; margin-left: 1000px">
            Add New</a>
    </form>

    <div class="container-fluid">
        <div class="row">
            {{>admin-left-menue}}
            <div class="col-md-9">
                <table style="width: 100%;" id="example" class="table table-striped table-bordered table-sm"
                    cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Image</th>
                            <th class="th-sm">Name</th>
                            <th class="th-sm">Category</th>
                            <th class="th-sm">Status</th>
                            <th class="th-sm">Stocks</th>
                            <th class="th-sm">Price</th>
                            <th class="th-sm">Color</th>
                            <th class="th-sm">Delete/Edit</th>
                            <th class="th-sm">Offer</th>
                        </tr>
                    </thead>
                    <tbody>



                        {{#each products}}
                        {{#unless this.is_delete}}
                        <tr>
                            <td>
                                <img src="/uploads/{{this.primaryImage}}" alt="{{this.name}}" width="100"
                                    class="border border-2 rounded-top">
                            </td>
                            <td>{{this.name}}</td>
                            <td>{{this.category_name}}</td>
                            <td>
                                {{#if this.status}}
                                Listed
                                {{else}}
                                Unlisted
                                {{/if}}
                            </td>
                            <td>{{this.stock}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.color}}</td>
                            <td>
                                <!-- Edit and delete buttons for each product -->
                                <a href="/admin/products/editproduct/{{this._id}}" class="ms-3"><i
                                        class="fa-solid fa-pen"></i></a>


                                <a class="text-danger ms-2" onclick="confirmDelete('{{this._id}}')">
                                    <i class="fa-solid fa-trash"></i></a>

                            </td>
                            <td>
                                <a class="text-danger ms-2" onclick="removeOffer('{{this._id}}')">
                                    <i class="fa-solid fa-trash-can"></i></i></a>

                            </td>
                        </tr>
                        {{/unless}}
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<script>

    function confirmDelete(productId) {
        Swal.fire({
            title: "Delete Product",
            title: "Are you Sure You Want To Delete the Product?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, remove it!',
            cancelButtonText: 'No, cancel',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/products/deleteproduct/' + productId,
                    method: 'GET',
                    success: (response) => {
                        if (response.message) {
                            Swal.fire({
                                title: "Product Deleted",
                                text: "Product Deleted Successfully",
                                icon: "success",
                            }).then(() => {
                                location.reload()
                            })
                        }
                    }
                })
            }
        })
    }

    function removeOffer(productID) {
        Swal.fire({
            title: "Remove Offer",
            text: "Are you Sure you Want to remove this Product Offer?",
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: "No, Keep it",
            confirmButtonText: "Yes, Remove!",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "admin/products/removeOffer/" + productID,
                    method: "GET",
                    success: (response => {
                        if (response.message) {
                            Swal.fire({
                                title: "Offer Removed",
                                text: "Offer Removed Successfully",
                                icon: "success",
                            }).then(() => {
                                location.reload();
                            })
                        } else {
                            Swal.fire({
                                title: "Something Went Wrong",
                                text: "An error occured, Please Try again",
                                icon: "error",
                            }).then(() => {
                                console.log("error occured");
                            })
                        }
                    })
                })
            }
        })
    }


</script>



<style>
    a {
        text-decoration: none;
    }

    i {
        margin-right: 20px;
    }

    .btn2 {
        border: 1px solid black;
        color: white;
        border-radius: 5px;
        padding: 7px;
    }

    .collapse {
        margin-left: 700px;
        border-radius: 20px;
    }
</style>