{{>user-navbar}}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/profile">Youre Profile</a></li>
                        <li class="breadcrumb-item"><a href="/profile/manageaddress">Manage Address</a></li>
                        <li class="breadcrumb-item"><a href="#">Edit Address</a></li>

                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">

            {{>user-left-menue}}
            <div class="col-lg-8" id="address-card">
                <div class="card mb-4 rounded-4" id="details-container">
                    <div class="card-body">

                        {{!-- Edit Addess Container --}}
                        <div class="col-md-8 mb-4 mt-4" style="width: 700px;" id="edit-container">
                            <div class="card mb-4">
                                <div class="card-header py-3">
                                    <h5 class="mb-0">Edit Address</h5>
                                </div>
                                <div class="card-body">

                                    <form action="/profile/manageaddress/edit-address" method="post"
                                        id="editAddressForm">

                                        <div class="row mb-4">
                                            <div class="col">
                                                <div class="form-outline d-flex">
                                                    <div class="form-group">
                                                        <input type="text" id="form7Example1" name="name"
                                                            class="form-control" placeholder="Name"
                                                            value="{{userAddress.userName}}" />

                                                    </div>

                                                    <div class="form-group">
                                                        <input type="text" id="form7Example3" class="form-control"
                                                            placeholder="Mobile Number" style="margin-left: 40px;"
                                                            name="phonenumber" value="{{userAddress.phoneNumber}}" />
                                                    </div>
                                                </div>


                                                <div class="form-outline mt-3 d-flex">
                                                    <div class="form-group">
                                                        <input type="text" id="form7Example1" class="form-control"
                                                            placeholder="Pincode" name="pincode"
                                                            value="{{userAddress.pinCode}}" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" id="form7Example3" class="form-control"
                                                            placeholder="Locality" name="locality"
                                                            style="margin-left: 40px;"
                                                            value="{{userAddress.locality}}" />
                                                    </div>
                                                </div>


                                                <div class="form-floating mt-3">
                                                    <div class="form-group">
                                                        <textarea class="form-control"
                                                            placeholder="Leave a comment here" id="floatingTextarea2"
                                                            style="height: 100px"
                                                            name="address">{{userAddress.address}}</textarea>
                                                        <label for="floatingTextarea2"><small></small></label>
                                                    </div>
                                                </div>


                                                <div class="form-outline d-flex mt-3">
                                                    <div class="form-group">
                                                        <input type="text" id="form7Example1" class="form-control"
                                                            placeholder="City/District/Town" name="town"
                                                            value="{{userAddress.town}}" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" id="form7Example3" class="form-control"
                                                            placeholder="State" name="state" style="margin-left: 40px;"
                                                            value="{{userAddress.state}}" />
                                                    </div>
                                                </div>


                                                <div class="form-outline d-flex mt-3">
                                                    <div class="form-group">
                                                        <input type="text" id="form7Example1" class="form-control"
                                                            placeholder="Landmark(Optional)" name="optionalLandmark" />
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="text" id="form7Example3" class="form-control"
                                                            placeholder="Alternative Phone(Optional)"
                                                            style="margin-left: 40px;" name="alternativenumber" />
                                                    </div>

                                                </div>


                                                <div>
                                                    <input type="hidden" name="objectID" value="{{userAddress._id}}">
                                                </div>


                                                <div class="form-check mt-3">
                                                    <input class="form-check-input" type="radio" value="Home"
                                                        id="flexRadioDefault1" name="checkme">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Home
                                                    </label>
                                                </div>

                                                <div class="form-check mt-3">
                                                    <input class="form-check-input" type="radio" value="Work"
                                                        id="flexRadioDefault2" name="checkme" checked>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        Work
                                                    </label>
                                                </div>

                                            </div>
                                            <hr class="mt-4">

                                            <button class="btn border bg-primary" type="submit">Edit</button>

                                            <a href="/profile/manageaddress/" class="btn mt-3"
                                                id="update-cancel">Cancel</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>

    //custom rules for validation
    $.validator.addMethod("nodigits", function (value, element) {
        return this.optional(element) || /^[a-zA-Z]+$/.test(value);
    }, "Numbers not Allowed");

    $.validator.addMethod("noletters", function (value, element) {
        return this.optional(element) || /^\d+$/.test(value);
    }, "Letters not allowed");



    $('#editAddressForm').validate({

        errorPlacement: function (error, element) {
            // Customize the placement of error messages
            error.insertAfter(element); // This will place the error message after the input element
        },



        rules: {
            name: {
                required: true,
                minlength: 3,
                maxlength: 15,
                nodigits: true,
            },
            phonenumber: {
                required: true,
                minlength: 10,
                noletters: true,
                maxlength: 10,
            },
            pincode: {
                required: true,
                noletters: true,
                minlength: 6,
                maxlength: 6,
            },
            locality: {
                required: true,
                nodigits: true,
                maxlength: 20,
            },
            address: {
                required: true,
                maxlength: 150,
            },
            town: {
                required: true,
                maxlength: 15,
                minlength: 4,
                nodigits: true,
            },
            state: {
                required: true,
                minlength: 4,
                maxlength: 15,
                nodigits: true,
            },
            optionalLandmark: {
                minlength: 4,
                maxlength: 15,
                nodigits: true,
            },
            alternativenumber: {
                noletters: true,
                minlength: 10,
                maxlength: 10,
            }
        },

        messages: {
            name: {
                required: "This field is required",
                minlength: "Name should be at least 3 characters",
                maxlength: "Name should be under 15 characters",
            },
            phonenumber: {
                required: "This field is Required",
                minlength: "Enter a valid number",
                maxlength: "Enter a valid number",

            },
            pincode: {
                minlength: "Invalid Pincode",
                maxlength: "Invalid Pincode",
            },
            locality: {
                maxlength: "Enter a valid Place",
            },
            address: {
                maxlength: "Invalid Address",
            },
            town: {
                required: "This field is required",
                minlength: "Invalid Data",
                maxlength: "Invalid Data"
            },
            state: {
                minlength: "Invalid State Name",
                maxlength: "Invalid State Name",
            },
            optionalLandmark: {
                minlength: "Invalid Data",
                maxlength: "Invalid Data",
            },
            alternativenumber: {
                minlength: "Enter a valid number",
                maxlength: "Enter a valid number",
            }
        }
    });
</script>