{{>new-user-header}}


<section>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
      {{#each allBanner}}
      {{#unless this.is_delete}}
      <a href="">
        <div class="carousel-item {{#if @first}}active{{/if}}">
          <img src="/uploads/{{this.bannerImage}}" class="d-block w-100" alt="...">
        </div>
      </a>
      {{/unless}}
      {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" ariahidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

{{!-- //loader --}}
<div id="preLoader">

</div>


<section class="row mt-4" id="productContainer">
  <div class="card-container d-flex mt-3 border">

    {{#each allproducts}}
    {{#unless this.is_delete}}

    <div class="card border" id="cardHolder">

      <a href="#" id="addtoWishlist" onclick="addtoWishlist('{{this._id}}')"><span
          class="material-symbols-outlined icon" style="margin-left: 250px;">favorite</span></a>

      {{#each this.primaryImage}}
      <a href="/view-product/{{../this._id}}">
        <img src="/uploads/{{this}}" class="card-img-top images" alt="">
      </a>
      {{/each}}

      <div class="card-body">
        <a href="/view-product/{{this._id}}" class="card-title">{{this.name}}</a>
        <br>

        {{!-- Show the Rating --}}
        <small id="stars"><span class="star" data-rating="1">&#9733;</span> Rating ( {{this.rating}} )</small>


        {{#unless this.is_Offer}}
        <small class="card-text fw-bold priceElement">{{this.price}}</small>
        {{/unless}}

        {{#if this.is_Offer}}
        <span style="color: green;" class="itemPrice"><strike
            style="margin-left: 30px; font-size: 17px;">{{this.old_Price}}</strike><strong
            style="margin-left: 5px;">{{this.offer_discount}}% Off</strong> </span>

        <small class="card-text fw-bold"
          style="color: red; margin-left: 160px; font-size: 20px;">Rs.{{this.offer_price}}</small>

        {{/if}}



        <div class="d-flex">
          <button class="btn border border-dark mt-4" onclick="addToCart('{{this._id}}')" id="add-to-cart">Add to
            Cart</button>

          {{!-- <input type="text" value="{{this._id}}" name="" id="productID" hidden> --}}

          <a onclick="buyNow('{{this.stock}}', '{{this._id}}')" target="_blank" class="btn border-dark mt-4"
            id="buy-now">Buy Now</a>
        </div>

      </div>
    </div>
    {{/unless}}
    {{/each}}
  </div>
</section>

{{>new-user-footer}}



<script>

  $(document).ready(() => {
    const loader = document.getElementById('preLoader')
    loader.style.display = 'none';

    $('#profile-list').hide()
    $('#profile-icon').click(function () {
      $('#profile-list').slideToggle();
    });
  })


  function addToCart(prodID) {
    $.ajax({
      url: '/add-to-cart/' + prodID,
      method: 'get',
      success: (response) => {
        if (response.status) {
          let count = $('#count-badge').html()
          count = parseInt(count) + 1;
          $('#count-badge').html(count);
        } else {
          Swal.fire({
            title: "Product Alredy Exists",
            text: "The product alredy exists in the Cart",
          });
        }
      }
    });
  }

  function buyNow(stock, productID) {
    if (stock < 1) {
      Swal.fire({
        title: "Out Of Stock",
        text: "Were Sorry! The Product Is Out of Stock",
        icon: "error",
      }).then(() => {

      })
    } else {
      location.assign('/check-out/' + productID);
    }
  }


  function addtoWishlist(productID) {

    $.ajax({
      url: '/my-wishlist/' + productID,
      method: 'GET',
    }).then(response => {
      if (response.message) {
        Swal.fire({
          title: "Product Added",
          text: "Product Added to Wishlist Successfully",
          icon: "success",
        }).then(() => {
          console.log("Product Get Successfull");
        })
      } else if (response.exists) {
        Swal.fire({
          title: "Product Alredy Exists",
          text: "Product is Alredy Present In Wishlist",
        }).then(() => {
          console.log("Product Alredy Exists in Wishlist");
        });
      } else {
        Swal.fire({
          title: "Product Add Failed",
          text: "Something Went Wrong. Please Try Again",
          icon: "error",
        });
      }
    })
  }


</script>


<style>
  #productContainer {
    overflow: hidden;
    max-width: 1275px;
  }

  .card-title {
    text-decoration: none;
  }

  img {
    cursor: pointer;
  }

  .profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-group-item a {
    text-decoration: none;
  }

  .listTag {
    text-decoration: none;
    margin-left: 20px;
    color: black;
  }

  .material-symbols-outlined {
    margin-left: 25px;
    font-size: 30px;
  }

  .images {
    height: 250px;
    margin-top: 10px;
  }

  .card {
    margin-left: 40px;
    width: 18rem;
  }

  .icon {
    margin-left: 250px;
    padding: 5px;
  }

  #count-badge {
    font-size: 15px;
    color: rgb(12, 180, 54);
  }

  #profile-list {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add-to-cart {
    margin-left: 10px;
    background-color: red;
    color: white;

    &:hover {
      background-color: rgb(60, 58, 54);
    }
  }

  #buy-now {
    margin-left: 40px;

    &:hover {
      background-color: rgb(176, 176, 168);
    }
  }

  .checked {
    color: orange;
  }

  .main-container {
    height: 400px;
  }

  .rating {
    font-size: 0;
  }

  .star {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
    color: #f1c40f;
    margin-top: 5px;
  }

  .priceElement {
    color: red;
    margin-left: 80px;
    font-size: 20px;
  }


  @media (max-width: 600px) {
    .card {
      width: 150px;
      height: 250px !important;
    }

    .images {
      width: 132px !important;
      height: auto !important;
    }

    #addtoWishlist,
    #stars,
    #buy-now {
      display: none;
    }

    #add-to-cart {
      width: 60px;
      height: 26px;
      font-size: 6px;
      margin-top: 4px !important;
    }

    .priceElement {
      display: none;
    }

    .card-title {
      font-size: 7px;
    }
  }

  #preLoader {
    background: #000 url("/uploads/blackGifloader.gif") no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
</style>