{{>new-user-header}}

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                {{#each productDetails}}
                {{#each this.primaryImage}}
                <div class="mb-3 d-flex justify-content-center position-relative product">
                    <div class="image-container rounded-4 primary-image">
                        <img style="max-width: 100%;" src="/uploads/{{this}}" />
                    </div>
                </div>
                {{/each}}

                <div class="d-flex" style="margin-left: 150px">
                    {{#each this.secondaryImage}}
                    <a data-fslightbox="mygallery" class="border mx-1 rounded-2 secondary-image" data-type="image"
                        class="item-thumb" data-id="{{@index}}">
                        <img width="60" height="60" class="rounded-2" src="/uploads/{{this}}" />
                    </a>
                    {{/each}}
                </div>

                {{/each}}
            </aside>

            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{productDetails.name}}
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">{{productDetails.price}}</span>
                        <span class="text-muted">/per box</span>
                    </div>

                    <p>
                        {{productDetails.description}}
                    </p>

                    <div class="row">
                        <dt class="col-3">Color: {{productDetails.color}}</dt>
                    </div>
                    <hr />
                </div>
                <a href="/check-out/{{productDetails._id}}" class="btn btn-warning shadow-0"> Buy now </a>
                <a onclick="addToCart('{{productDetails._id}}')" class="btn btn-primary shadow-0"> <i
                        class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
                <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i
                        class="me-1 fa fa-heart fa-lg"></i> Save </a>
        </div>
        </main>
    </div>
    </div>
</section>

{{>new-user-footer}}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const productContainers = document.querySelectorAll(".product");
        const secondaryImages = document.querySelectorAll(".secondary-image");
        const primaryImage = document.querySelector(".primary-image img");

        // Function to handle image swapping
        function swapImage(clickedImageSrc) {
            primaryImage.src = clickedImageSrc;
        }

        secondaryImages.forEach((image) => {
            image.addEventListener("click", function () {

                const clickedImageSrc = this.querySelector("img").src;
                swapImage(clickedImageSrc);
            });
        });


        productContainers.forEach((container) => {
            const imageContainer = container.querySelector(".image-container");

            container.addEventListener("mousemove", (e) => {
                const { left, top, width, height } = container.getBoundingClientRect();
                const x = (e.clientX - left) / width;
                const y = (e.clientY - top) / height;
                const image = imageContainer.querySelector("img");

                image.style.transformOrigin = `${x * 100}% ${y * 100}%`;
            });

            container.addEventListener("mouseleave", () => {
                const image = imageContainer.querySelector("img");
                image.style.transformOrigin = "center center";
            });
        });
    });



    function addToCart(prodID) {
        $.ajax({
            url: '/add-to-cart/' + prodID,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    let count = $('#count-badge').html()
                    count = parseInt(count) + 1;
                    $('#count-badge').html(count);
                    Swal.fire({
                        title: "Item Added",
                        text: "Item has been Added to the Cart",
                        icon: "success",
                    });
                } else {
                    Swal.fire({
                        title: "Product Alredy Exists",
                        text: "The product alredy exists in the Cart",
                    });
                }
            }
        });
    }

</script>








{{!-- csngindte id of the cart adding --}}
{{!-- csngindte id of the cart adding --}}
{{!-- csngindte id of the cart adding --}}
{{!-- csngindte id of the cart adding --}}
{{!-- csngindte id of the cart adding --}}
{{!-- csngindte id of the cart adding --}}
{{!-- csngindte id of the cart adding --}}
{{!-- csngindte id of the cart adding --}}
{{!-- fdsgdfshghdf --}}
{{!-- fdsgdfshghdf --}}


<style>
    .product .image-container {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .product .image-container img {
        transition: transform 0.2s ease-in-out;
    }

    .product .image-container:hover img {
        transform: scale(1.7);
        transform-origin: center center;
    }

    .product .image-container .zoomed-image {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    .product .image-container:hover .zoomed-image {
        display: block;
    }

    .product .image-container .zoomed-image img {
        max-width: 100%;
        max-height: 100%;
    }


    .icon-hover:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
        color: #3b71ca !important;
    }

    .icon-hover:hover i {
        color: #3b71ca !important;
    }
</style>